.pageHeader{float: left; width: 75%; background: red; padding: 60px; text-align: center; color: white; font-size: 20px; font-weight: bold;}
.pageColumn{float: left; width: 75%; background: green; padding-top: 5px; padding-bottom: 50px; color: white; font-size: 10px;}
.pageFooter{float: left; width: 75%; background: blue; padding-top: 5px; padding-bottom: 45px; color: white; font-size: 10px;}
.wrapper{margin: 0 auto; width: 1000px;}
p{clear: left;}
