.largeRed{color: red; font-size: 20px}
.slantedText{font-style: italic;}
h2, h3{font-weight: bold; font-family: "Times New Roman", serif;}
p{font-family: "Helvetica Neue", sans-serif;}
{text-transform: capitalize;}
{position: absolute;}
{position: fixed;}
{position: relative;}
#theBox{margin: 10px 20px 10px 20px; border: darkred 3px dotted; padding: 10px; text-align: center;}
