#wrapper {
    margin: 0 auto;
    width: 1150px;
}

#chibiOne {
  position: absolute; left: 70px;
}

#chibiTwo {
  position: absolute; right: 70px;
}

.drawingOne {
  height: 150px;
  width: auto;
}


#header {
  float: left;
  background-color: #F9DBC3;
  height: 150px;
  width: 1150px;
  font-weight: bold;
}

#navTwo {
  clear: both;
  text-align: center;
  background-color: #FDECDF;
  height: 25px;
  width: 1150px;
}

.drawingTwo {
  position: relative; top: 5px;
  height: 15px;
  width: auto;
  padding-top: 1px;
  padding-bottom: 5px;
  padding-left: 4px;
}

#content {
  background-color: #F7F7FF;
  border: 2px solid #9081F6;
  height: 1000px;
  width: 1126px;
  padding: 10px;
}

h3, h2, h4 {
  text-align: center;
}

#thePara {
  text-align: center;
}

#footer {
    background-color: #F9DBC3;
    height: 50px;
    width: 1145px;
    padding-top: 2px;
    padding-left: 5px;
}

.screenshot {
  height: 350px;
  width: auto;
}

.screenshotTwo {
  height: 350px;
  width: auto;
  position: relative; left: 170px;
}

.screenshotThree {
  height: 300px;
  width: auto;
  position: relative; left: 40px;
}

.iPicture {
  height: auto;
  width: 200px;
  position: relative; left: 240px;
}

/* Below here is css for collapsible tabs also found on https://www.w3schools.com/howto/howto_js_collapsible.asp*/

.collapsible {
  background-color: #9081F6;
  color: #F7F7FF;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: #7966F4;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #F7F7FF;
}

.collapsible:after {
  content: '\02795';
  font-size: 13px;
  color:  #F7F7FF;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}
