body{background-color:blue;
     margin: 200px 100px 200px 100px;
     border:black 5px solid;}
.thePara{margin:20px 20px 20px 20px;
         border:green 2px dashed;
         padding:10px;}
p{color:red;
  font-family:"Ariel", sans-serif;
  font-size:10px}
img{border:pink 2px dashed;
    padding:10px;}
