body{margin-right:100px; margin-left:100px;}
.paragraphOne{border:purple 2px dotted;
              text-align: center;
              padding-top:200px; padding-bottom:10px;
              font-size:10px;}
.paragraphTwo{color:green;
              font-weight: bold;
              font-size:7px;
              text-align: center;}
.paragraphThree{color:orange;
                font-size:25px;}
.paragraphFour{color:purple;
               font-size: 5px;
               text-align: right;}
#fontOne{color:red;
         position:relative; top:-10px;}
#fontTwo{color:yellow;}
